section.about_us{
    width: 100%;
    padding: 4rem 0;

}

section.about_us .myskills{
    display: flex;
    gap: 50px ;
}
section.about_us .myskills .skills{
    flex: 50%;
}
section.about_us .myskills .skills .skill_item{
    margin: 3rem 0;
}

section.about_us .myskills .about_info{
    flex: 50%;
}


section.about_us .myskills  h3{
    font-size: 3.2rem;
    padding: 1rem 0;
}

.label{
    color: var(--white-clr);
    font-size: 1.5rem;
    width: 50%;
  display: inline-block;
}
.percentage{
    color: var(--white-clr);
    text-align: right;
    display: inline-block;
    width: 50%;
    font-size: 1.5rem;
    
}
.skill {
    width: 100%;
    height: 15px;
    background: #fff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 5px;
}

.skill .progress{
     width: 80%;
     background: var(--blue-clr);
     height: 10px;
     border-radius: 10px;
}


@media screen and (max-width:768px) {

    section.about_us .myskills{
        flex-direction: column;
    }
}